.tab-system {
  color: #444;
  background-color: whitesmoke;

  .tab-bar {
    a {
      color: #444;
    }

    .tab-item:hover {
      background-color: #fafafa;

      &:hover a {
        color: blue;
      }
    }
  }
}

.main {
  color: #444;
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(218, 218, 218);
}
