.editor .code-block {
  background-color: #222;
}
.cm-editor {
  color: #2c313a;
  background-color: #222222;
}
.cm-editor .cm-content {
  caret-color: #ddd;
  font-family: "cascadia code";
}
.cm-editor.cm-focused .cm-cursor {
  border-left-color: #ddd;
}
.cm-editor.cm-focused .cm-selectionBackground,
.cm-editor .cm-selectionBackground,
.cm-editor .cm-content ::selection {
  background-color: #f9f9f9;
}
.cm-editor .cm-panels {
  background-color: #252525;
  color: #f9f9f9;
}
.cm-editor .cm-panels.cm-panels-top {
  border-bottom: 2px solid black;
}
.cm-editor .cm-panels.cm-panels-bottom {
  border-top: 2px solid black;
}
.cm-editor .cm-searchMatch {
  background-color: #72a1ff59;
  outline: 1px solid #457dff;
}
.cm-editor .cm-searchMatch.cm-searchMatch-selected {
  background-color: #6199ff2f;
}
.cm-editor .cm-activeLine {
  background-color: #252525;
}
.cm-editor .cm-selectionMatch {
  background-color: #aafe661a;
}
.cm-editor.cm-focused .cm-matchingBracket,
.cm-editor.cm-focused .cm-nonmatchingBracket {
  background-color: #bad0f847;
  outline: 1px solid #515a6b;
}
.cm-editor .cm-gutters {
  background-color: #222222;
  color: #ddd;
  border: none;
}
.cm-editor .cm-activeLineGutter {
  background-color: #222222;
}
.cm-editor .cm-foldPlaceholder {
  background-color: #222222;
  border: none;
  color: #ddd;
}
.cm-editor .cm-tooltip {
  border: none;
  background-color: #131313;
}
.cm-editor .cm-tooltip .cm-tooltip-arrow:before {
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.cm-editor .cm-tooltip .cm-tooltip-arrow:after {
  border-top-color: #131313;
  border-bottom-color: #ddd;
}
.cm-editor .cm-tooltip-autocomplete > ul > li[aria-selected] {
  background-color: #131313;
  color: #ddd;
}
