* {
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Sarasa UI SC", "Open Sans", "Clear Sans", "Helvetica Neue",
    Helvetica, Arial, "Segoe UI Emoji", sans-serif;
  line-height: 1.5;
}

.tab-system {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.tab-bar {
  width: 5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-evenly;
  a {
    text-decoration: none;
  }
}

.tab-item {
  padding: 6px;
}

.extendedPanel {
  width: 18vw;
  height: 100vh;
  overflow: auto;
  background-color: #fafafa;
}

.folder {
  white-space: nowrap;
  overflow-x: hidden;
  display: block;
  overflow-y: auto;
}

.item {
  padding: 6px;
  width: 100%;
  font-size: 0.7rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.subfolder {
  text-indent: 10px;
  width: 18vw;
  display: none;
}
.file-name {
  display: inline-block;
}

.file-icon {
  font-size: 1rem;
  position: relative;
  top: 1px;
  right: 2px;
}

.editor {
  height: 100%;
  font-size: 1em;
  line-height: 1.5;
  word-wrap: break-word;
  margin: auto;
  max-width: 80%;
  width: 77vw;
  max-height: calc(100vh - 40px);
  padding: 20px;
  overflow-y: auto;
}
