* {
  margin: 0;
  outline: none;
}

body {
  height: 100vh;
  font-family: "Sarasa UI SC", "Open Sans", "Clear Sans", "Helvetica Neue",
    Helvetica, Arial, "Segoe UI Emoji", sans-serif;
  line-height: 1.5;
}

.tab-system {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .tab-bar {
    width: 2.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .tab-item {
      padding: 6px 0;
      width: 100%;

      &:hover {
        cursor: pointer;
      }

      a {
        font-weight: bold;
      }
    }
  }

  .extendedPanel {
    .file-system {
      padding: 6px;
      height: calc(100% - 12px);
      min-width: 8rem;

      .subfolder {
        text-indent: 10px;
        width: 18vw;
        display: none;
      }

      .file-name {
        display: inline-block;
      }
      .folder {
        white-space: nowrap;
        overflow-x: hidden;
        display: block;
        overflow-y: auto;

        .item {
          padding: 6px;
          width: 100%;
          font-size: 0.7rem;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:hover {
            cursor: pointer;
          }

          .file-icon {
            font-size: 0.8rem;
            position: relative;
            right: 2px;
          }
        }
      }
    }
  }
}

.editor {
  height: 100%;
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
  margin: auto;
  max-width: 80%;
  width: 77vw;
  max-height: calc(100vh - 40px);
  padding: 20px;
  overflow-y: auto;

  div {
    margin-bottom: 0.5rem;
  }

  /* 标题 */
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.67rem;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }

  h4 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
  }

  h6 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.18rem;
  }

  /* 强调 */
  strong {
    font-weight: bold;
  }

  /* 引用 */
  blockquote {
    padding: 1rem;
    border-radius: 0 5px 5px 0;
    margin: 0;
  }

  /* 分割线 */
  hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
  }

  /* 链接 */
  a {
    color: blue;
    text-decoration: none;
  }

  a:hover {
    color: orangered;
    cursor: pointer;
  }

  /* 任务列表 */
  [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }

  /* 表格 */
  table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
  }
  table th {
    font-weight: 600;
  }
  table th,
  table td {
    padding: 6px 13px;
  }

  /* 列表 */
  ul,
  ol {
    padding-left: 0;
    margin: 20px;
  }

  ol ol,
  ul ol {
    list-style-type: lower-roman;
  }

  ul ul ol,
  ul ol ol,
  ol ul ol,
  ol ol ol {
    list-style-type: lower-alpha;
  }

  /* 图片 */
  img {
    max-width: 100%;
    border-radius: 5px;
    margin: auto;
  }

  @media screen and (min-width: 900px) {
    img {
      max-width: 80%;
      /* max-height: 360px; */
    }
  }

  /* 代码 */
  pre {
    font-family: "cascadia code";
  }

  code {
    display: block;
    background: transparent;
    border: none;
    font-family: "cascadia code";
    min-height: 24px;
  }

  .code-block {
    border-radius: 5px;
    padding: 8px;
    width: calc(100% - 16px);
    margin: auto;
    font-family: "cascadia code";

    .appendix {
      display: flex;
      div {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        margin-right: 10px;
      }
      div:nth-child(1) {
        background-color: #ec5e50;
      }
      div:nth-child(2) {
        background-color: #f4b63d;
      }
      div:nth-child(3) {
        background-color: #4ebd45;
      }
      .code-language {
        width: 100%;
        flex: 1;
        text-align: right;
        font-size: 0.7rem;
      }
    }

    .content {
      border: none;
      padding: 0;
    }
  }

  .code-hint {
    width: calc(100% - 16px);
    margin: auto;
    font-size: 0.8rem;
    background-color: #ff00001c;
    padding: 8px;
    border-radius: 0 0 8px 8px;
    border-top: 3px red solid;
    margin-top: 4px;
    font-family: "cascadia code";
    white-space: pre;
  }
}
