.extendedPanel {
  color: #b4b4b4;
  background-color: #222;

  .file-system {
    .folder {
      .item {
        &:hover {
          background-color: #333;
        }
      }
    }
  }
}

.editor {
  /* 引用 */
  blockquote {
    color: #f5f5f5;
    border-color: rgb(163 163 163 / 50%);
    border-left: 4px solid #777;
    background-color: #555;
  }

  /* 分割线 */
  hr {
    border-bottom: 1px solid #f5f5f5;
  }

  /* 表格 */
  table th,
  table td {
    border: 1px solid #f5f5f5;
  }

  .code-block {
    background-color: #222;
  }

  .code-hint {
    background-color: #ff00001c;
    border-top: 3px red solid;
  }
}
