/*
Name:   DuoTone-Dark
Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)

CodeMirror template by Jan T. Sott (https://github.com/idleberg), adapted by Bram de Haan (https://github.com/atelierbram/)
*/
.CodeMirror {
    background: #2a2734;
    color: #6c6783;

}

.cm-editor {
    background-color: #222;
    font-family: 'cascadia code'
}

.cm-activeLine {
    background-color: #333;
}

div.CodeMirror-selected {
    background: #545167 !important;
}

.CodeMirror-gutters {
    background: #2a2734;
    border-right: 0px;
}

.CodeMirror-linenumber {
    color: #545167;
}

/* begin cursor */
.CodeMirror-cursor {
    border-left: 1px solid #ffad5c;
    /* border-left: 1px solid #ffad5c80; */
    border-right: .5em solid #ffad5c;
    /* border-right: .5em solid #ffad5c80; */
    opacity: .5;
}

.CodeMirror-activeline-background {
    background: #363342;
    /* background: #36334280;  */
    opacity: .5;
}

.cm-fat-cursor .CodeMirror-cursor {
    background: #ffad5c;
    /* background: #ffad5c80; */
    opacity: .5;
}

/* end cursor */

span.cm-atom,
span.cm-number,
span.cm-keyword,
span.cm-variable,
span.cm-attribute,
span.cm-quote,
span.cm-hr,
span.cm-link {
    color: #ffcc99;
}

span.cm-property {
    color: #9a86fd;
}

span.cm-punctuation,
span.cm-unit,
span.cm-negative {
    color: #e09142;
}

span.cm-string {
    color: #ffb870;
}

span.cm-operator {
    color: #ffad5c;
}

span.cm-positive {
    color: #6a51e6;
}

span.cm-variable-2,
span.cm-variable-3,
span.cm-type,
span.cm-string-2,
span.cm-url {
    color: #7a63ee;
}

span.cm-def,
span.cm-tag,
span.cm-builtin,
span.cm-qualifier,
span.cm-header,
span.cm-em {
    color: #eeebff;
}

span.cm-bracket,
span.cm-comment {
    color: #6c6783;
}

/* using #f00 red for errors, don't think any of the colorscheme variables will stand out enough, ... maybe by giving it a background-color ... */
span.cm-error,
span.cm-invalidchar {
    color: #f00;
}

span.cm-header {
    font-weight: normal;
}

.CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #eeebff !important;
}