.file-system {
  background-color: #fafafa;

  .folder {
    .item {
      &:hover {
        background-color: #fff;
      }
    }
  }
}

.editor {
  color: #444;

  /* 引用 */
  blockquote {
    color: #777777;
    border-color: rgb(163 163 163 / 50%);
    border-left: 4px solid #dfe2e5;
    background-color: #f5f5f5;
  }

  /* 分割线 */
  hr {
    border-bottom: 1px solid #dfe2e5;
  }

  /* 表格 */
  table th,
  table td {
    border: 1px solid #f5f5f5;
  }

  .code-block {
    background-color: #fafafa;
  }

  .magic {
    box-shadow: 0 2px 2px rgb(0 0 0 / 6%), 0 0 4px rgb(0 0 0 / 2%);
  }
}
