html.dark {
  --el-color-primary: #81a28b;
  --chronicle-code-font: "cascadia code";
  --chronicle-global-en-font: "Geogrgia";
  --chronicle-global-cn-font: "楷体";
  --chronicle-theme-color: var(--el-color-primary);
}
