html.light {
  --el-color-primary: #81a28b;
  --chronicle-code-font: "cascadia code";
  --chronicle-global-en-font: "Geogrgia";
  --chronicle-global-cn-font: "楷体";
  --chronicle-theme-color: var(--el-color-primary);

  .tab-system .tab-bar .tab-item {
    border: 2px solid var(--el-bg-color);

    &:hover {
      border: 2px solid var(--el-color-info-light-9);

      a {
        color: var(--chronicle-theme-color);
      }
    }

    a {
      color: var(--chronicle-theme-color);

      &.active {
        background-color: var(--chronicle-theme-color);
        color: white;
      }
    }
  }

  .editor {
    color: #444;
  }

  .editor blockquote {
    color: #777777;
    border-color: rgba(163, 163, 163, 0.5);
    border-left: 4px solid #dfe2e5;
    background-color: var(--el-fill-color);
  }

  .editor hr {
    border-bottom: 1.5px solid grey;
  }

  .editor table th,
  .editor table td {
    border: 1px solid #f5f5f5;
  }

  .selection {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06), 0 0 4px rgba(0, 0, 0, 0.02);
  }

  .resize-line {
    border-right: 2px dashed whitesmoke;
  }

  .resize-bar:hover ~ .resize-line,
  .resize-bar:active ~ .resize-line {
    border-right: 4px dashed var(--chronicle-theme-color);
  }
}
